.cardContainer {
  width: 100%;
  min-height: 50px;
  padding: 0;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto';
  text-decoration: none;
  color: #000;
}

.cardContainer:hover {
  box-shadow: 0 0 20px rgb(163, 163, 163);
}

.main {
  height: 100%;
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  margin: 10px 0 0 0;
  font-size: 1.5rem;
}

.typeName {
  font-size: .8rem;
  color: rgb(114, 114, 114);
  font-weight: 400;
}

.text {
  margin: 10px 0 0 0;
}

.objectid {
  margin: 0;
  color: rgb(99, 99, 99);
  font-size: .8rem;
}

.button {
  padding: 5px 10px;
  font-size: .9rem;
  font-family: 'Roboto';
  background-color: rgb(43, 146, 106);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(81, 187, 147);
  box-shadow: 0 0 4px rgb(100, 100, 100);
}

.button:nth-of-type(2) {
  margin: 5px 0;
}