.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: rgb(238, 238, 238);
}

.back {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100px;
  height: calc(100vh - 80px);
  cursor: pointer;
  transition: background-color .1s linear;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(226, 226, 226);
}

.back:hover {
  background-color: rgb(214, 214, 214);
}

.svgBack {
  width: 30%;
}

.svgBackPath {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: .264583;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1; 
}

.backText {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-weight: 700;
}