.container {
  width: 80vw;
  height: calc(100vh - 80px);
  position: absolute;
  left: 20vw;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(233, 233, 233);
}

.container::-webkit-scrollbar-thumb {
  background-color: rgb(114, 114, 114);
  border-radius: 10px;
}

.container::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}