.levels {
  padding: 0;
  margin: 0;
  width: 35%;
}

.level {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

.levelName {
  font-family: 'Roboto Light';
  font-size: 1.2rem;
}

.cards {
  padding: 0;
  margin: 0;
  width: 100%;
}

.card {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}