.container {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 80px);
  background-color: rgb(238, 238, 238);
  z-index: 50;
  width: 100%;
  flex-direction: column;
}

.data {
  display: flex;
}