.container {
  position: fixed;
  left: 125px;
  width: calc(65% / 2 - 150px);
  background-color: #fff;
  border-radius: 10px;
}

.containerInitial {
  top: 215px;
}

.containerScroll {
  top: 80px;
}

.list {
  padding: 0;
  margin: 30px;
}

.item {
  list-style-type: none;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  font-family: 'Roboto Light';
  color: #000;
  cursor: pointer;
}

.link:hover {
  color: rgb(43, 146, 106);
}