.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
}

.link {
  text-decoration: none;
  font-family: 'Roboto';
  font-size: .8rem;
  color: #000;
  margin: 7px;
  cursor: pointer;
}

.link:hover {
  color: rgb(43, 146, 106);
}